<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Student Management</title>
     <style>
        button
        {
          font-size:20px;
          font-color:white;
          padding:20px;
          border-radius:10px;
          margin:180px;
          background-color:yellow;
          align:Center;
          width:300px;
          height:100px;
        }
    </style>
</head>
<body>
<h1 align="center">STUDENT MANAGEMENT SYSTEM</h1>

<a href="{% url 'stinsert'%}"><button> Add Student Record </button></a>     <a href="{% url 'stdisplay'%}"><button> Show Record</button></a>
<img src="{% static 'images/sms.jpg' %}">
</body>
</html>